* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 80px;
  font-family: "Inter", sans-serif;
}
section {
  padding: 6rem;
  margin: 0 auto;
  width: 75%;
  background-color: #eee;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h2 {
  margin-bottom: 40px;
}
input[type="submit"],
input[type="reset"] {
  border: 1px solid #9361bf;
  background: #9361bf;
  border-radius: 4px;
  padding: 4px 20px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  opacity: 85%;
}
.one {
  margin-bottom: 30px;
}
input[type="text"] {
  border-radius: 4px;
  border: #eee;
  padding: 4px 20px;
}
.fahrenheit {
  display: inline;
}
